##—--------------------------------
# What to ignore for this latex git
##—--------------------------------

# Various Latex Compilation Logs / Files:
*.blg
*.bbl
*.aux
*.dvi
*.out
*.log

# Mac OSX Files:
**.DS_Store


# Some of my figures have associated MATLAB scripts:
**.m~
**.asv

# Maybe I should ignore inkscape autosaves? No, maybe better to keep them.

# I’m going to ignore .PNG’s that can be generated 
# directly from inkscape on the command line.
**_out.png

# These files allow syncing between latex and pdf with command click:
*.synctex.gz